# {{ ansible_managed }}
[Interface]
Address = {{ wireguard_client_peer.allowed_ips[wireguard_client_gateway] }}
PrivateKey = {{ wireguard_client_peer.private_key }}

[Peer]
PublicKey = {{ hostvars[wireguard_client_gateway].wireguard_public_key }}
Endpoint = {{ hostvars[wireguard_client_gateway].wireguard_endpoint | default(hostvars[wireguard_client_gateway].public_ip) }}:{{ wireguard_port }}
AllowedIPs = {{ wireguard_vpc_cidr }}
PersistentKeepalive = 25
