# {{ ansible_managed }}
[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key }}
SaveConfig = false
PostUp = iptables -I FORWARD 1 -i %i ! -d {{ wireguard_vpc_cidr }} -j REJECT; iptables -I FORWARD 1 -i %i -s {{ wireguard_network_cidr }} -d {{ wireguard_vpc_cidr }} -j ACCEPT; iptables -I FORWARD 1 -o %i -s {{ wireguard_vpc_cidr }} -d {{ wireguard_network_cidr }} -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT; iptables -t nat -A POSTROUTING -s {{ wireguard_network_cidr }} -d {{ wireguard_vpc_cidr }} -o {{ wireguard_egress_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i ! -d {{ wireguard_vpc_cidr }} -j REJECT; iptables -D FORWARD -i %i -s {{ wireguard_network_cidr }} -d {{ wireguard_vpc_cidr }} -j ACCEPT; iptables -D FORWARD -o %i -s {{ wireguard_vpc_cidr }} -d {{ wireguard_network_cidr }} -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT; iptables -t nat -D POSTROUTING -s {{ wireguard_network_cidr }} -d {{ wireguard_vpc_cidr }} -o {{ wireguard_egress_interface }} -j MASQUERADE

{% for peer in wireguard_peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips[inventory_hostname] }}

{% endfor %}
