apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aligner-prod-root
  namespace: argocd
spec:
  project: default
  source:
    repoURL: {{ argocd_bootstrap_git_repo_url }}
    targetRevision: {{ argocd_bootstrap_git_revision }}
    path: gitops/clusters/prod
  destination:
    server: {{ argocd_bootstrap_destination_server }}
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
